body {
    background-color: rgb(25, 26, 25);
    margin: 0;
    padding: 0;
}

.larping_head {
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.side {
    height: 100%;
    width: 100%;

    display: grid;
    place-items: center;

    overflow: hidden;
    position: absolute;
}

#left-side {
    background-color: lightskyblue;
    z-index: 2;
}

#right-side {
    background-color: indianred;
}

.side .title {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    margin: 0px 15vw;
    width: 70vw;
    white-space: nowrap;
    text-align: center;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

h1 {
    color: white
}

h1 > .early {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
        to right,
        rgb(123, 31, 162),
        rgb(103, 58, 183),
        rgb(244, 143, 183),
        rgb(123, 31, 162)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;

}