body {
    margin: 0;
}

.larping_head {
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.side {
    height: 100%;
    width: 100%;

    display: grid;
    place-items: center;

    overflow: hidden;
    position: absolute;
}

#left-side {
    background-color: lightskyblue;
    z-index: 2;
}

#right-side {
    background-color: indianred;
}

.side .title {
    color: white;
    font-family: "Rubik", sans-serif, cursive;
    font-size: 3rem;
    margin: 0px 15vw;
    width: 70vw;
    white-space: nowrap;
    text-align: center;
}